<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weidiao.w">

    <application>
        <activity
            android:name=".Main"
            android:icon="@drawable/icon"
            android:label="W">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
